* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

html {
    background-color: rgb(228, 211, 211);
    scroll-behavior: smooth;
    font-family: 'Averia Serif Libre', cursive;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    font-family: 'Roboto',
        sans-serif;
    letter-spacing: 3px;
}

.nav-container {
    position: relative;
    max-width: 1920px;
    background-color: rgb(233, 219, 219);
    height: 50px;
    min-height: 10vh;

    margin: 0 auto;
}

.logo {
    float: left;
    left: 30px;
}

.logo a {
    text-decoration: none;
    color: black;
}


.mobile_nav {
    display: none;
    float: left;
    top: 30%;
    right: 5%;
    font-size: 25px;

}

nav ul,
.logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

nav ul {
    right: 50px;
    list-style: none;
}

nav li {
    float: left;
    right: 100px;
}

nav li a {
    display: block;
    text-decoration: none;
    text-transform: none;
    padding: 2px 10px;
    margin: 0 20px;
    color: black;
    text-transform: uppercase;
    transition: 0.3s;
    border: 1px solid transparent;
}

nav li a:hover {
    color: #333;
    border-bottom: 1px solid black;
}

/* HEADER */
header {
    position: relative;
    width: 100%;
    height: 90vh;
    margin-top: 10vh;
}

.header-logo {
    position: relative;
    top: 40%;
    text-align: center;
    font-size: 100px;
}

/* ASIDE PHOTOS */
aside.photos {
    font-size: 0;
    margin-bottom: 10vh;
}

div.photo {
    display: inline-block;
    width: 33.3333%;
}

div.photo div {
    height: 150px;
}


div.p1 {
    background-color: white;
    margin-right: 5px;

}

div.p2 {
    background-color: white;
    margin-right: 5px;
}

div.p3 {
    background-color: white;



}

/* SECTION OFFER */
section.offers {
    /* height: 90vh; */
    font-size: 0px;
    text-align: center;


}

section.offers h1 {
    display: block;
    width: 100%;
    background-color: #222;
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    margin-bottom: 5vh;
}

div.offer {
    display: inline-block;
    width: 33.333%;

}

div.offer h2 {
    font-size: 13px;
    font-family: 'Roboto';
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

div.offer div {
    height: 300px;
    margin: 5px 10px;
    overflow: hidden;

}

div.offer div:hover {
    cursor: pointer;
    opacity: 0.7;

}

div.first {
    background-color: white;
}

div.second {
    background-color: white;
}

div.third {
    background-color: white;
}

/* ASIDE SEPARATION */
aside.separation {
    /* margin-top: 20px; */
}

aside.separation div {
    width: 100%;
    height: 30vh;
    margin-bottom: 25px;
    background-size: cover;
    background-attachment: fixed;
}

div.image1 {
    background-image: url(img/photo1.jpg);
}

div.image2 {
    background-image: url(img/photo3.jpeg)
}

/* SECTION ABOUT */

section.about {
    min-height: 90vh;
    margin-bottom: 25px;


}

section.about .martyna {
    float: left;
    width: 30%;
    min-height: 90vh;
    background-color: white;

}

section.about article {
    float: left;
    width: 70%;
    min-height: 90vh;
    padding: 50px;
    /* background-color: red; */
}

section.about article h1 {
    font-size: 40px;
    margin-bottom: 30px;
}

section.about article p {
    font-size: 20px;
    text-align: justify;
}

section.contact {
    height: 50vh;
    text-align: center;

}

section.contact p.title {
    margin-top: 50px;
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bold;
}

section.contact ul {
    list-style: none;
    padding: 30px;
}

section.contact li {
    line-height: 50px;
}

section.contact li i {
    margin-right: 20px;
}

section.contact a {
    text-decoration: none;
    font-size: 25px;
    color: black;
}

footer div {
    width: 100%;
    height: 72.15px;
    background-color: rgb(233, 219, 219);
    text-align: center;
    font-size: 16px;
    line-height: 72.15px;
}